
body {
	background: 
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a;
}

@font-face {
    font-family: 'scratch_my_backregular';
    src: url('../font/SCRATCHM-webfont.eot');
    src: url('../font/SCRATCHM-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SCRATCHM-webfont.woff') format('woff'),
         url('../font/SCRATCHM-webfont.ttf') format('truetype'),
         url('../font/SCRATCHM-webfont.svg#scratch_my_backregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-family: 'scratch_my_backregular';
	margin: 20px 0;
	font-style: normal;
	font-size: 2.0em;
	font-weight: bold;
	line-height: 1em;
	color: #00A300;
	text-align: center;
}

h2 {
	font-family: 'scratch_my_backregular';
	font-weight: bold;
	display: block;
	text-align: center;
}

#poem-style {
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.container img {
	width: 30%;
	height: 30%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
}


.gallery1 img {
	width: 50%;
	height: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.gallery2 img {
	width: 50%;
	height: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.gallery3 img {
	width: 50%;
	height: 20%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.gallery4 img {
	width: 35%;
	height: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.gallery5 img {
	width: 25%;
	height: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.gallery1 p {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5em;
	margin-top: 0;
}

.gallery2 p {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5em;
	margin-top: 0;
}

.gallery3 p {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5em;
	margin-top: 0;
}

.gallery4 p {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5em;
	margin-top: 0;
}

.gallery5 p {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5em;
	margin-top: 0;
}